@import ../../vars

.container
  border-radius: 1rem
  background-color: white
  margin-bottom: 0.5rem
  overflow: hidden
  &__title
    font-size: $xs-font-size
    color: white
    font-weight: normal
    background: linear-gradient(90deg, $blue-color 0%, $red-color 100%)
    padding: 0.5rem
  &__content
    padding: 1rem
    text-align: center
  &__text
    background: linear-gradient(90deg, $blue-color 0%, $red-color 100%)
    color: $dark-gray
    -webkit-text-fill-color: transparent
    -webkit-background-clip: text
    font-weight: bold


@media (min-width: $tablet-breakpoint)
  .container
    margin-right: 2rem
    min-width: 400px
    &__title
      font-size: $base-font-size
      padding: 1rem
    &__content
      padding: 3rem
    &__text
      font-size: $xl-font-size